@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
    --bg-color: rgb(3, 138, 162);
}

/* Body */
body {
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: #fff;
}

h2 {
    font-size: 150%;
    text-decoration: underline;
}

content {
    margin: 0 10px 0 10px; 
}

/* Navigation Bar */

header {
    position: relative;
    display: flex;
    background: var(--bg-color);
    border-bottom: solid;
    border-bottom-width: 15px;
    border-bottom-color: rgb(11, 41, 163);
    width: 100%;
    height: auto;
    justify-content: space-between;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.logo {
    height: 150px;
    width: 150px;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    color: #fff;
}

/* Hero banner */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;;
    background-image: url("../../images/gradient.jpg");
    background-size: cover;
    background-position: center;
}

/* About Me section */

.bio {
    position: relative;
    height: 200px;
    margin: 0 10px 25px 10px; 
    border-radius: 25px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
}

.bio h2 {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.bio p {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

/* Projects section */

.grid {
    position: relative;
    height: 300px;
    margin: 0 10px 25px 10px;
    border-radius: 25px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
}

.grid h2 {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.works {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    text-align: center;
}

.box {
    height: ;
    padding: 15px;
}

/* Footer section */

.personal {
    position: relative;
    max-height: 100px;
    border-radius: 25px;
    margin: 0 10px 10px 10px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
}

.personal h2 {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.personalContact {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.personalContact ul li {
    display: inline-block;
    padding: 20px;
}

.personalContact ul li a {
    color: #fff;
}